table.tafe-table {
	margin: 0;
	border-collapse: collapse;
	width: 100%;
  	color: #111;
  	font-size: 1em;
  	line-height: 1.8;
}
table.tafe-table td, table.tafe-table th {
	padding: 0.5em; 
	border: 1px solid #767676;
	word-break: break-all; 
}