/*
	//
	// File generato automaticamente, non modificare a mano
	//
	*/.h1, .entry-content .h1, .woocommerce h1, .woocommerce .h1 {
			font-family:Verdana;
			font-weight:400;
			text-transform:none;
			line-height:1.53em;
			font-size:39px;
		}
.h2, .entry-content .h2, .woocommerce h2, .woocommerce .h2 {
			font-family:inherit;
			font-weight:inherit;
			text-transform:;
			line-height:em;
			font-size:30px;
		}
.h3, .entry-content .h3, .woocommerce h3, .woocommerce .h3 {
			font-family:inherit;
			font-weight:inherit;
			text-transform:;
			line-height:em;
			font-size:25px;
		}
.h4, .entry-content .h4, .woocommerce h4, .woocommerce .h4 {
			font-family:inherit;
			font-weight:inherit;
			text-transform:;
			line-height:em;
			font-size:20px;
		}
.h5, .entry-content .h5, .woocommerce h5, .woocommerce .h5 {
			font-family:inherit;
			font-weight:inherit;
			text-transform:;
			line-height:em;
			font-size:18px;
		}
.h6, .entry-content .h6, .woocommerce h6, .woocommerce .h6 {
			font-family:inherit;
			font-weight:inherit;
			text-transform:;
			line-height:em;
			font-size:15px;
		}
